body{
    position:absolute;
    margin: auto 0;
}
   


.header{
    
    color: white;
    text-align: center;
}

.shapeContainer{
    height: 600px;
    width: 600px;
    background-color: white;
    margin: 0.5em;
    border: 2px solid black;
   position: relative;
   overflow: hidden;
   box-shadow:  white 1px 1px 10px;
   
  

  
}
.infoContainer{
    justify-content: center;
    background-color: rgb(240, 71, 48);
    margin: 0.5em;
   border: solid 2px black;
  position: relative;
  box-shadow:  white 1px 1px 10px;
  padding: 2em;
  

}

.mainContainer{
 display:flex;
 display: wrap;
 justify-content: center;
align-items: center;



 } 

.infoBox{
    background-color: white;
    border: solid 2px black;
    margin: 1em;
    font-weight: bold;
    padding: 3px;
    position: relative;
    color: black;
    display:flex;
    
    
    
}

#h2{
    text-align: center;
    padding: .5em;
    font-family: 'Dela Gothic One', cursive; ;
    font-weight: bold;
    color: white;
    
}

#h1{
    text-align: center;
    padding: .5em;
    font-family: 'Dela Gothic One', cursive; ;
    font-weight: bold;
    color: white;
}

.shape{
    position:absolute;
    overflow: hidden;
    
}

.circle{
     position:absolute;
    overflow: hidden;
    border-radius: 50%;
}
   
#info1{
    
    display: inline;
    font-weight: normal;
}
#info2{
    font-weight: normal;
    display: inline;

}
#info3{
    font-weight: normal;
    display: inline;
}
#info4{
    font-weight: normal;
    display: inline;
}
#info5{
    font-weight: normal;
    display: inline;
}
#info6{
    font-weight: normal;
    display: inline;
}


button{
font-family: Helvetica;
background:  rgb(2, 120, 255);
font-weight: bold;
color:white;

}

button:hover {
  ;
  
  text-transform: uppercase;
  box-shadow: rgb(255, 255, 255) 1px 1px 5px 1px;
}
button:active {
  background: rgb(255, 104, 34);
} 